.idea/
.idea/**/
.settings/
.settings/**/
node_modules
node_modules/**/
bower_components
bower_components/**/
httpdocs/js/jspm/
httpdocs/js/jspm/**/
*.js.map
tests/*.js
!tests/test-*.js
src/ts/**/*.js